body{
    background-color:pink;
    color:rgb(255, 255, 255);
    font-family: sans-serif;
}

.chamada{
    background-color: rgb(255, 0, 179);
    padding-top: 1%;
    padding-bottom: 1%;
    display: flex;
    justify-content: center;

}

header{
    padding-top: 20px;
    padding-bottom: 20px; 
}

.chamada-video{
    margin-left: 20px;

}
img{
    height: 200px;
}

.categorias-videos{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria{
    padding-left: 20px;
    padding-right: 20px;
}
