body{
    background-color:pink;
    color:black;
}

section{
    background-color: rgb(255, 0, 179);
    padding-top: 1%;
    padding-bottom: 1%;
    display: flex;

}

header{
    padding-top: 20px;
    padding-bottom: 20px; 
}